<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1081890340415-ia54a6akuprjr6solts12ss52s202qjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081890340415-ia54a6akuprjr6solts12ss52s202qjv</string>
	<key>API_KEY</key>
	<string>AIzaSyCm7D1BmlUFvlhXDNZNUjTBY5_z-U1a1PA</string>
	<key>GCM_SENDER_ID</key>
	<string>1081890340415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nabiha-Rahman.Habille-Moi</string>
	<key>PROJECT_ID</key>
	<string>habille-moi-a543a</string>
	<key>STORAGE_BUCKET</key>
	<string>habille-moi-a543a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081890340415:ios:f7833574e2db0b6b</string>
	<key>DATABASE_URL</key>
	<string>https://habille-moi-a543a.firebaseio.com</string>
</dict>
</plist>